---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "100$",
    price: "Starter Pack",
    popular: false,
    features: [
      "Sblocco prop entro 72 ore",
      "Assistenza tramite email"
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "250$",
    price: "Swing Trader Pack",
    popular: true,
    features: [
      "Sblocco prop entro 72 ore",
      "Assistenza tramite email",
      "Supporto 24h"
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Custom",
    price: "Pro Trader Pack",
    popular: false,
    features: [
  "Sblocco prop entro 72 ore",
      "Assistenza tramite email",
      "Supporto 24h",
      " Accesso al refill",
      "Pacchetto strategie"
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
