---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Speed",
    description:
      "We unlock prop accounts within 24/72 hours.",
    icon: "file-icons:powerbuilder",
  },
  {
    title: "Security",
    description:
      "Your funds and information are safe with us.",
    icon: "mdi:security-lock-outline",
  },
  {
    title: "Experience",
    description:
      "Our team consists of industry experts.",
    icon: "icon-park-outline:muscle",
  },
  {
    title: "Money-Back Garanteed",
    description:
      "If we fail to successfully unlock your accounts, we offer a full refund!",
    icon: "vaadin:money-exchange",
  },
  {
    title: "Versalitily",
    description:
      "Multiple unlocking options tailored to your needs to satisfy even the most demanding trader!",
    icon: "grommet-icons:cubes",
  },
  {
    title: "24/7 Support",
    description:
      "We offer 24/7 assistance via Telegram, Email, and WhatsApp.",
    icon: "foundation:telephone",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why Choose Us:
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-9 h-9 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
