<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Astroship. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="mx-auto px-4 max-w-md text-center text-xs text-slate-500 mt-1">
    Disclaimer - This website is for educational purposes only.
    It should not be construed in any way as operational investment advice or as a solicitation for the collection of public savings.
    The presented results - whether real or simulated - do not guarantee any hypothetical future performance.
    Margin trading carries high risks and is not suitable for all investors.
    Before starting to trade on foreign exchanges, cryptocurrencies,
    or other financial instruments,it is advisable to carefully consider your investment objectives, level of experience, and risk tolerance.
    Anyone engaging in speculative activities does so at their own and exclusive responsibility; 
    therefore, the Authors assume no responsibility for any direct or indirect damages regarding investment decisions made by the user.
     Accordingly, the user releases NOME SITO, to the extent permitted by law, from any liability whatsoever connected or arising from this website.
  </p>
</footer>
